# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rails secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

# Shared secrets are available across all environments.

# shared:
#   api_key: a1B2c3D4e5F6

# Environmental secrets are only available for that specific environment.

development:
  secret_key_base: fed53ef10a49a93eb5f5c2654b0ac1c288536aa2878c6a14158c17fc2722726b63e80d89f23db68ea98647a999b58aa94f3c600ee08b62eec7ca224a6ec8bf2c

test:
  secret_key_base: a7980355e27ffab11fb4e4ec57e683811abd6476a62246c0d8caccd1cdf644fada4b4b7b7906ce2e0c0a9ade94eab8fa469794cb4b3753873e1bf0cabb2998db

# Do not keep production secrets in the unencrypted secrets file.
# Instead, either read values from the environment.
# Or, use `bin/rails secrets:setup` to configure encrypted secrets
# and move the `production:` environment over there.

production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
